:root.theme-dark {
    --h1-text-color: #db00ff;
    --accent-color: #ff0070;
    --accent-color-opacity: #ff007040;
    --text-color: #f1b2ce;
    --text-color-opacity: #f1b2ce40;
    --bg-color: #000028;
    --text-accent-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__rec::before {
    content: 'REC';
}
